---
import { ClientRouter } from "astro:transitions";
interface Props {
  nextPage: string;
  b1Class?: string;
}

const { nextPage, b1Class = "rotate-45" } = Astro.props as Props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/src/assets/css/global.css" />
    <meta name="generator" content={Astro.generator} />
    <ClientRouter />
    <title>Astro Basics</title>
  </head>
  <body class="w-full bg-center z-0">
    <div class="main_wrapper w-full h-full">
      <div
        class="main w-full h-full pt-1 flex flex-col items-center justify-end"
      >
        <div class="antenna">
          <div class="antenna_shadow"></div>
          <div class="a1"></div>
          <div class="a1d"></div>
          <div class="a2"></div>
          <div class="a2d"></div>
          <div class="a_base"></div>
        </div>
        <div class="tv">
          <div class="cruve">
            <svg
              xml:space="preserve"
              viewBox="0 0 189.929 189.929"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              xmlns="http://www.w3.org/2000/svg"
              version="1.1"
              class="curve_svg"
            >
              <path
                d="M70.343,70.343c-30.554,30.553-44.806,72.7-39.102,115.635l-29.738,3.951C-5.442,137.659,11.917,86.34,49.129,49.13
        C86.34,11.918,137.664-5.445,189.928,1.502l-3.95,29.738C143.041,25.54,100.895,39.789,70.343,70.343z"
              ></path>
            </svg>
          </div>
          <div class="display_div">
            <div class="screen_out">
              <div class="screen_out1">
                <div class="screen flex">
                  <slot />
                </div>
              </div>
            </div>
          </div>
          <div class="lines">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
          </div>
          <div class="buttons_div">
            <a href={nextPage} class="z-10">
              <div class="b1 flex items-center justify-center">
                <div class={`b1-line  transition duration-500 ease ${b1Class}`}>
                </div>
              </div>
            </a>
            <div class="b2"><div class="b2-line"></div></div>
            <div class="speakers">
              <div class="g1">
                <div class="g11"></div>
                <div class="g12"></div>
                <div class="g13"></div>
              </div>
              <div class="g"></div>
              <div class="g"></div>
            </div>
          </div>
        </div>
        <div class="bottom">
          <div class="base1"></div>
          <div class="base2"></div>
        </div>
      </div>
    </div>
  </body>
</html>
<script>
  document.addEventListener("astro:page-load", () => {
    // This runs on first page load and after every navigation.
    const content = document.querySelector(".content");
    if (content) {
      content.classList.add("opacity-0");
      setTimeout(() => {
        content.classList.replace("opacity-0", "opacity-100");
      }, 800);
    }
  });
</script>

<style>
  html {
    --s: 61px; /* control the size*/
    --c1: #7ca4b1;
    --c2: #a8cddc;

    --_c: var(--c1) calc(100% - var(--s) / 2) 99%, #0000;
    --_g: var(--s), #0000 calc(99% - var(--s) / 2), var(--_c);
    background:
      radial-gradient(var(--s) at 100% var(--_g)),
      radial-gradient(calc(var(--s) / 4) at 50% calc(100% / 3), var(--_c))
        var(--s) 0,
      radial-gradient(var(--s) at 0% var(--_g)) 0 calc(3 * var(--s)) var(--c2);
    background-size:
      calc(2 * var(--s)) calc(9 * var(--s) / 4),
      calc(2 * var(--s)) calc(3 * var(--s) / 4);
  }
  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    /* background-image: url("/src/assets/images/flowers-paper-bg.jpg");*/
  }

  /* From Uiverse.io by Praashoo7 */
  /* Design Inspired by one of Stefan Devai's Design on Dribble */

  .main_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  .antenna {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    border: 2px solid black;
    background-color: #f27405;
    margin-bottom: -6em;
    margin-left: 0em;
    z-index: 0;
  }
  .antenna_shadow {
    position: absolute;
    background-color: transparent;
    width: 50px;
    height: 56px;
    margin-left: 1.68em;
    border-radius: 45%;
    transform: rotate(140deg);
    border: 4px solid transparent;
    box-shadow:
      inset 0px 16px #a85103,
      inset 0px 16px 1px 1px #a85103;
    -moz-box-shadow:
      inset 0px 16px #a85103,
      inset 0px 16px 1px 1px #a85103;
  }
  .antenna::after {
    content: "";
    position: absolute;
    margin-top: -9.4em;
    margin-left: 0.4em;
    transform: rotate(-25deg);
    width: 1em;
    height: 0.5em;
    border-radius: 50%;
    background-color: #f69e50;
  }
  .antenna::before {
    content: "";
    position: absolute;
    margin-top: 0.2em;
    margin-left: 1.25em;
    transform: rotate(-20deg);
    width: 1.5em;
    height: 0.8em;
    border-radius: 50%;
    background-color: #f69e50;
  }
  .a1 {
    position: relative;
    top: -102%;
    left: -130%;
    width: 12em;
    height: 5.5em;
    border-radius: 50px;
    background-image: linear-gradient(
      #171717,
      #171717,
      #353535,
      #353535,
      #171717
    );
    transform: rotate(-29deg);
    clip-path: polygon(50% 0%, 49% 100%, 52% 100%);
  }
  .a1d {
    position: relative;
    top: -211%;
    left: -35%;
    transform: rotate(45deg);
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    border: 2px solid black;
    background-color: #979797;
    z-index: 99;
  }
  .a2 {
    position: relative;
    top: -210%;
    left: -10%;
    width: 12em;
    height: 4em;
    border-radius: 50px;
    background-color: #171717;
    background-image: linear-gradient(
      #171717,
      #171717,
      #353535,
      #353535,
      #171717
    );
    margin-right: 5em;
    clip-path: polygon(
      47% 0,
      47% 0,
      34% 34%,
      54% 25%,
      32% 100%,
      29% 96%,
      49% 32%,
      30% 38%
    );
    transform: rotate(-8deg);
  }
  .a2d {
    position: relative;
    top: -294%;
    left: 94%;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    border: 2px solid black;
    background-color: #979797;
    z-index: 99;
  }

  .tv {
    width: 84vw;
    height: 80vh;
    margin-top: 3em;
    border-radius: 25px;
    background-color: #d36604;
    display: flex;
    justify-content: center;
    border: 2px solid #1d0e01;
    box-shadow: inset 1em 1em #e69635;
    z-index: 1;
  }
  .tv::after {
    content: "";
    position: absolute;
    width: 84vw;
    height: 80vh;
    border-radius: 15px;
    background:
      repeating-radial-gradient(#d36604 0 0.0001%, #00000070 0 0.0002%) 50% 0/2500px
        2500px,
      repeating-conic-gradient(#d36604 0 0.0001%, #00000070 0 0.0002%) 60% 60%/2500px
        2500px;
    background-blend-mode: difference;
    opacity: 0.09;
  }
  .curve_svg {
    position: absolute;
    margin-top: 1em;
    margin-left: -1em;
    height: 16px;
    width: 16px;
  }
  .display_div {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    border-radius: 25px;
    box-shadow: 3.5px 3.5px 0px #e69635;
  }
  .screen_out {
    width: auto;
    height: auto;
    border-radius: 20px;
  }
  .screen_out1 {
    width: 67vw;
    height: 71vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
  }
  .screen {
    width: 67vw;
    height: 71vh;
    border: 2px solid #1d0e01;
    background:
      repeating-radial-gradient(#000 0 0.0001%, #ffffff 0 0.0002%) 50% 0/2500px
        2500px,
      repeating-conic-gradient(#000 0 0.0001%, #ffffff 0 0.0002%) 60% 60%/2500px
        2500px;
    background-blend-mode: difference;
    animation: b 0.2s infinite alternate;
    border-radius: 20px;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #252525;
    letter-spacing: 0.15em;
    text-align: center;
    border-radius: 20px;
  }

  @keyframes b {
    100% {
      background-position:
        50% 0,
        60% 50%;
    }
  }

  /* Another Error Screen to Use */

  /* .screen {
    width: 80vw;
    height: 80vh;
    position: relative;
    background: linear-gradient(
      to right,
      #002fc6 0%,
      #002bb2 14.2857142857%,
      #3a3a3a 14.2857142857%,
      #303030 28.5714285714%,
      #ff0afe 28.5714285714%,
      #f500f4 42.8571428571%,
      #6c6c6c 42.8571428571%,
      #626262 57.1428571429%,
      #0affd9 57.1428571429%,
      #00f5ce 71.4285714286%,
      #3a3a3a 71.4285714286%,
      #303030 85.7142857143%,
      white 85.7142857143%,
      #fafafa 100%
    );
    border-radius: 20px;
    border: 2px solid black;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #252525;
    letter-spacing: 0.15em;
    text-align: center;
    overflow: hidden;
  } */
  /* .screen:before,
  .screen:after {
    content: "";
    position: absolute;
    left: 0;
    z-index: 1;
    width: 100%;
  } */
  /* .screen:before {
    top: 0;
    height: 68.4782608696%;
    background: linear-gradient(
      to right,
      white 0%,
      #fafafa 14.2857142857%,
      #ffe60a 14.2857142857%,
      #f5dc00 28.5714285714%,
      #0affd9 28.5714285714%,
      #00f5ce 42.8571428571%,
      #10ea00 42.8571428571%,
      #0ed600 57.1428571429%,
      #ff0afe 57.1428571429%,
      #f500f4 71.4285714286%,
      #ed0014 71.4285714286%,
      #d90012 85.7142857143%,
      #002fc6 85.7142857143%,
      #002bb2 100%
    );
  }
  .screen:after {
    bottom: 0;
    height: 21.7391304348%;
    background: linear-gradient(
      to right,
      #006c6b 0%,
      #005857 16.6666666667%,
      white 16.6666666667%,
      #fafafa 33.3333333333%,
      #001b75 33.3333333333%,
      #001761 50%,
      #6c6c6c 50%,
      #626262 66.6666666667%,
      #929292 66.6666666667%,
      #888888 83.3333333333%,
      #3a3a3a 83.3333333333%,
      #303030 100%
    );
  } */

  .lines {
    display: flex;
    column-gap: 0.3em;
    align-self: flex-end;
  }
  .line1,
  .line3 {
    width: 3.5px;
    height: 20px;
    background-color: black;
    border-radius: 25px 25px 0px 0px;
    margin-top: 0.5em;
  }
  .line2 {
    flex-grow: 1;
    width: 4px;
    height: 1.5em;
    background-color: black;
    border-radius: 25px 25px 0px 0px;
  }

  .buttons_div {
    width: 11vw;
    align-self: center;
    height: 71vh;
    background-color: #e69635;
    border: 2px solid #1d0e01;
    padding: 0.6em;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 3rem;
    box-shadow: 3px 3px 0px #e69635;
  }
  .b1 {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background-color: #7f5934;
    border: 2px solid black;
    box-shadow:
      inset 4px 4px 2px #b49577,
      -4px 0px #513721,
      -4px 0px 0px 1px black;
  }
  .b1 .b1-line::before {
    content: "";
    position: absolute;
    margin-top: 3.9em;
    margin-left: 0.6em;
    border-radius: 5px;
    width: 0.13em;
    height: 1em;
    background-color: #000000;
  }
  .b1 .b1-line::after {
    content: "";
    position: absolute;
    margin-top: 2.8em;
    margin-left: 0.9em;
    border-radius: 5px;
    width: 0.15em;
    height: 2em;
    background-color: #000000;
  }
  .b1 .b1-line {
    content: "";
    position: absolute;
    margin-top: 0;
    width: 0.19em;
    height: 4.9em;
    background-color: #000000;
  }
  .b2 {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background-color: #7f5934;
    border: 2px solid black;
    box-shadow:
      inset 4px 4px 1px #b49577,
      -4px 0px #513721,
      -4px 0px 0px 1px black;
  }
  .b2::before {
    content: "";
    position: absolute;
    margin-top: 0.1em;
    margin-left: 2.2em;
    transform: rotate(-45deg);
    border-radius: 5px;
    width: 0.13em;
    height: 4.9em;
    background-color: #000000;
  }
  .b2::after {
    content: "";
    position: absolute;
    margin-top: 3.3em;
    margin-left: 3em;
    transform: rotate(-45deg);
    width: 0.15em;
    height: 1.5em;
    background-color: #000000;
  }
  .speakers {
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
  }
  .speakers .g1 {
    display: flex;
    column-gap: 0.3em;
  }
  .speakers .g1 .g11,
  .g12,
  .g13 {
    width: 1.4em;
    height: 1.4em;
    border-radius: 50%;
    background-color: #7f5934;
    border: 2px solid black;
    box-shadow: inset 1.5px 1.5px 1px #b49577;
  }
  .speakers .g {
    width: auto;
    height: 2px;
    background-color: #171717;
  }

  .bottom {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 60vw;
  }
  .base1 {
    height: 2em;
    width: 3em;
    border: 2px solid #171717;
    background-color: #4d4d4d;
    margin-top: -0.15em;
    z-index: 0;
  }
  .base2 {
    height: 2em;
    width: 3em;
    border: 2px solid #171717;
    background-color: #4d4d4d;
    margin-top: -0.15em;
    z-index: 0;
  }
  /* .base3 {
    position: absolute;
    height: 0.15em;
    width: 75vw;
    background-color: #171717;
    margin-top: 0.8em;
  } */
</style>
<style is:global></style>
